.card-with-colour {
	text-align: left;

	.card {
		transition: border-color 0.2s ease-in-out;
	}

	&:active,
	&:focus,
	&:hover {
		border-color: var(--recipe-colour, inherit);
		outline-color: var(--recipe-colour, inherit);

		.card {
			border-color: var(--recipe-colour, inherit);
		}
	}

	&.checked {
		.card {
			border-color: white;
		}
	}
}
